html
{
	background-image: url('images/bluepaint.jpg'); /* Photo from WebTreats ETC, Flickr profile "webtreats".  Photo located at http://www.flickr.com/photos/webtreatsetc/5066045921/sizes/s/in/photostream/ */
}

body
{
	font-family: Helvetica, Arial, sans-serif;
	color: rgb(0,0,60);
}

a,a:link { text-decoration: none; color: rgb(0,0,60);}
a:visited { text-decoration: none; color: gray;}
a:hover, a:focus, a:active { text-decoration: underline; color: blue;}

div#navigation /* left-hand sidebar location*/
{
	position: absolute;
	left: 60px;
	top: 105px;
	width: 140px;
}

div#links /* right-hand sidebar location*/
{
	position: absolute;
	right: 0px;
	top: 105px;
	width: 140px;
}

.current-page /* current page title in the nav bar */
{
	color: rgb(0,0,60); font-style: italic; font-weight: bold; font-size: small;
}

#content, .portfolio, ul#portfolio-navigation, #header /* horizontal positioning of main page content, header, and portfolio nav*/
{
    margin-left: 200px;
	margin-right: 200px;
}

#content, #header 
 {   min-width: 300px;}
 
.portfolio, ul#portfolio-navigation
{width: 800px;}

#content
{
background: white;
padding: 10px;
}

.portfolio, #content /*bottom border on main page content*/
{
	border-bottom: 3px solid rgb(0,0,60); /* dark blue */
}

ul#portfolio-navigation li /*horizontal portfolio nav bar positioning*/
{
width: 150px;
height: 150px;
padding: 5px;
float: left;
}

ul#portfolio-navigation li
{background: rgb(0,0,60);} /* dark blue */

h1 /*header appearance*/
 {
	font-family: "Batik Regular","Blackadder ITC", "Australian Sunrise", "Weltron Urban", "Reprise Title", monospace;
	font-size: xx-large;
	font-weight: bold;
	color: white;
	text-align: left;
	padding-top: 1em;
	padding-bottom: 1em;
	padding-left: 10px;
	background: rgb(0,0,60); /* dark blue */
}

p.blurb
{
font-size: small;
}

h2 /*section headings */
{
	padding: 3px 0px 4px 5px;
	color: rgb(255,255,255);
	font-weight: bold;
	font-size: small;
	background: rgb(0,0,60); /* dark blue */
}

h3 /*Employer or school*/
{
	font-family: "Perpetua Titling MT", serif;
	text-transform: uppercase;
	font-size: medium;
	font-weight: normal;
	text-indent: 0px;
}

h4 /* job title */
{
	color: rgb(0,0,60); /* dark blue */
	font-size: small;
}

ul
{
	list-style-type: square;
	font-size: small;
}

.no-border /* images without a natural border*/
{
border: 1px solid black;
}

div#footer
{
	font-size: small;
	color: rgb(0,0,60); /* dark blue */
	padding-left: 60px;
	padding-top: 10px;
}

