html
{
background: rgb(225,240,253);

/*	background-image: url('images/bluepaint.jpg');  Photo from WebTreats ETC, Flickr profile "webtreats".  Photo located at http://www.flickr.com/photos/webtreatsetc/5066045921/sizes/s/in/photostream/ */
}

body
{
	font-family: Helvetica, Arial, sans-serif;
	color: rgb(0,0,60);
}

a,a:link { text-decoration: none; color: rgb(0,0,60);}
a:visited { text-decoration: none; color: gray;}
a:hover, a:focus, a:active { text-decoration: underline; color: blue;}

div#navigation /* left-hand sidebar location*/
{
	position: fixed;
	left: 60px;
	top: 115px;
	width: 140px;
}

ul#links /* right-hand sidebar location*/
{
	position: absolute;
	right: 0px;
	top: 115px;
	width: 140px;
	list-style-type: square; /* doesn't work*/
}

ul
{
	font-size: small;
}

div.resume > ul
{
	text-indent: 35px;
	padding-top: 5px;
	padding-bottom: 5px;
}

ul#links li
{
margin-bottom: 5px;
}

ul#links > li > ul > li
{
margin-bottom: 0px;
padding-left: 10px;
}

p
{
font-size: small;
line-height: 1.4;
margin-bottom: 1em;
}
	
.current-page /* current page title in the nav bar */
{
	color: rgb(0,0,60); font-style: italic; font-weight: bold; font-size: small;
}

#content, .portfolio, ul#portfolio-navigation, #header, #portfolio-header /* horizontal positioning of main page content, header, and portfolio nav*/
{
    margin-left: 200px;
	margin-right: 200px;
}

#header, #portfolio-header /*header appearance, font infomration in case images fail*/
 {
	font-family: "Batik Regular","Blackadder ITC", "Australian Sunrise", "Weltron Urban", "Reprise Title", monospace;
	font-size: xx-large;
	font-weight: bold;
	color: white;
	text-align: left;
	padding-top: 1em;
	padding-bottom: 1em;
	padding-left: 10px;
	padding-right: 10px;
	background: rgb(0,0,60); /* dark blue */
}

#header 
 {min-width: 300px;}
 
#content
 {
 min-width: 288px;
 margin-bottom: 30px;
 }

#portfolio-header
{width: 780px;}

.portfolio
 {width: 768px;}
 
ul#portfolio-navigation
{width: 800px;}

ul#portfolio-navigation li /*horizontal portfolio nav bar positioning*/
{
position: static;
width: 150px;
height: 150px;
padding: 5px;
float: left;
margin-bottom: 30px;
}

ul#portfolio-navigation li
{background: rgb(0,0,60);} /* dark blue */

#content, .portfolio /*main page content*/
{
background: white;
padding: 15px 15px 0px 15px;
border-left: 1px solid rgb(0,0,60); /* dark blue */
border-right: 1px solid rgb(0,0,60);
border-bottom: 3px solid rgb(0,0,60);
}

p.blurb
{
font-size: small;
}

.resume /*location of main page content*/
{
	margin-left: 400px;
	margin-top: 30px;	
	width: 600px;
	border-bottom: 3px solid rgb(0,0,60); /* dark blue */
	margin-bottom: 30px;
}

#resume-header /* left sidebar location*/
{
	position: fixed;
	left: 56px;
	top: 28px;
	width: 300px;
}

.address /* right sidebar location and address styling*/
{
	position: fixed;
	left: 1060px;
	top: 30px;
	width: 140px;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: small;
	color: rgb(0,0,60); /* dark blue */
}

h1 /*name appearance in header*/
 {
	font-family: "Batik Regular","Blackadder ITC", "Australian Sunrise", "Weltron Urban", "Reprise Title", monospace;
	font-size: xx-large;
	font-weight: bold;
	text-align: left;
}

h2 /* subtitles or resume section headings */
{
	font-family: Helvetica, Arial, sans-serif;
	color: rgb(255,255,255);
	font-weight: bold;
	font-size: small;
	padding: 3px 0px 4px 5px;
	background: rgb(0,0,60); /* dark blue */
}

h3 /*portfolio item titles, resume employer or school*/
{
	font-family: "Perpetua Titling MT", serif;
	text-transform: uppercase;
	font-weight: normal;
	text-indent: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: large;
}

h4 /* job or degree */
{
	color: rgb(0,0,60); /* dark blue */
	font-size: small;
	font-weight: bold;
	padding-top: 5px;
	padding-bottom: 5px;
}

.date /* formatting dates*/
{
	float: right;
	position: relative;
	right: 620px;
	color: rgb(235,190,35); /*gold*/
	font-weight: bold;
	font-style: italic;
}

.no-border /* images without a natural border*/
{
border: 1px solid black;
}

div#footer
{
	position: static;
	margin-left: 60px;
	margin-bottom: 30px;
}